
#canvas {
    border: 1px solid black;
    /* background-color: aliceblue; */
    /* background-image: url('background.png'); */
}

#container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 100px;
    /* border: 1px solid black; */
}

#canvasСontainer {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0;
    margin-bottom: 0;
}


#tools {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10px;
    margin-top: -5px;
    /* border: 1px solid black; */
}


fieldset {
    border: 1px solid grey;
}

#tools-fieldset2 {
    margin-top: 10px;
}

#buttonСontainer {
    padding: 5px;
    display: flex;
    flex-direction: row;
}

#buttonСontainerGroup1, #buttonСontainerGroup2 {
    display: flex;
    flex-direction: column;
}

button {
    margin: 5px;
}


button:focus{
    background:greenyellow;
}


#properties {
    display: flex;
    flex-direction: row;
}

#properties-form {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    padding-top: 0.5em;
    padding-left: 15px;
}

.properties-form-lineWidth, .properties-form-lineColor, .properties-form-lineType, .properties-form-fillColor, .properties-form-isFill {
    margin: 0.5em;
}

.properties-form-lineColor, .properties-form-fillColor {
    width: 95px;
    height: 23px;
}

.properties-form-isFill {
    width: 95px;
    height: 23px;
}

p {
    padding-left: 10px;
}
