
#canvas {
    border: 2px solid black;
    /*background-image: url('background.png');*/
}




#child1 {
    background-color: aliceblue;
    margin: 5px;
}

#child2 {
    /* background-color: aliceblue; */
    margin: 5px;
    /* padding-right: 15px; */
    display: flex;
    flex-direction: column;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

button {
    margin: 5px;
}