
#canvas {
    border: 1px solid black;
    background-image: url('background.png');
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

#canvasСontainer {
    background-color: aliceblue;
    margin: 5px;
}

#buttonСontainer {
    /* background-color: aliceblue; */
    margin: 5px;
    display: flex;
    flex-direction: row;
    
}

#buttonСontainerGroup1, #buttonСontainerGroup2 {
    display: flex;
    flex-direction: column;
}

/* #buttonСontainerGroup2 {
    display: flex;
    flex-direction: column;
} */

button {
    margin: 5px;
}